@tailwind base;
@tailwind components;
@tailwind utilities;

.page-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .product-name {
    font-weight: bold;
  }
  
  .product-price {
    margin-top: 5px;
  }
  